* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html,
header {
    max-width: 1500px;
    margin: auto;
}


.theme-toggle {
    cursor: pointer;
    position: fixed;
    top: 3%;
    right: 3%;
    background-color: rgb(75, 200, 29);
    width: 25px;
    height: 25px;
    z-index: 100;
    box-shadow: 2px 3px 4px rgb(0, 255, 4);
}

ul {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 15%;
    box-shadow: 2px 3px 4px rgb(0, 255, 4);
}

.logo {
    cursor: pointer;
    position: relative;
    top: 2%;
    left: 1%;
}

.call-to-action svg {
    rotate: -30deg;
}

main {
    padding: 80px 10px;
    transition: all 0.3s ease-in-out;
}

header {
    width: 100%;
    height: 40vh;
    text-transform: capitalize;
    background-image: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.678)),
        url(images/about-header.jpg);
    font-weight: bolder;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    z-index: 100;
    position: relative;
}

span {
    color: rgb(25, 98, 20);
}

nav,
ul {
    margin-left: 3%;
    display: inline;
}

li {
    margin: 10px auto;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

button a {
    color: black;
}

button a:hover {
    color: rgb(255, 255, 255);
}

.about-img {
    margin: auto;
    margin: 10vw;
}

.about-content p {
    text-align: left;
}

img {
    max-width: 100%;
}

.h1 {
    text-align: center;
    margin: 100px 0;
}

h2 {
    margin-bottom: 50px;
    width: 98%;
    margin-left: 2%;
}

h4 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
}

p {
    line-height: 1.5;
    word-spacing: 1.2;
    letter-spacing: 1.1;
    width: 98%;
    margin-left: 2%;
}

button {
    margin-top: 10%;
    border-radius: 3px;
    padding: 8px;
    font-size: larger;
    margin-left: 15%;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.878);
    border: solid 2px#3c996a;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

button:hover {
    background-color: #3c996a;
    color: #ffffffe0;
}

.cta {
    margin-top: 10px;
    margin-inline: auto;
    padding: 8px;
    font-size: large;
    margin-left: 0%;
}

.cta a {
    color: white;
    transition: 0.4s ease-in-out;
}

.cta:hover a {
    color: #ffffff;
}

.cta:hover {
    background: transparent;
}

footer {
    text-align: center;
    padding: 80px auto;
}

footer button {
    background: linear-gradient(323deg, #cddc39, #3c996a);
    color: rgba(255, 255, 255, 0.878);
}

footer button:hover {
    transform: scale(1.05);
}

.conclusion {
    font-size: 16px;
    margin: 20px 0px;
    color: rgba(255, 255, 255, 0.838);
    padding: 20px;
}

footer p {
    font-size: 0.8rem;
    text-align: center;
}

.call-to-action {
    background-color: rgb(14 43 43);
    padding: 40px 0;
    transition: all 0.3s ease-in-out;
}

.social {
    background-color: #eee;
    padding: 25px;
    transition: all 0.3s ease-in-out;
}

footer span {
    margin-top: 20px;
    display: block;
}

.logo {
    font-size: 5vmin;
    color: rgb(48, 179, 68);
    margin-left: 0;
    text-shadow: #191919 -1px -1px;
    display: block;
    width: fit-content;
}

img {
    height: 55%;
    object-fit: cover;
}

.fab {
    color: rgb(255, 255, 255);
    margin-inline: 1px;
    cursor: pointer;
}

/* ------dark theme------ */

.dark-main {
    background-color: #192929;
    color: white;
}

.dark-call-to-action {
    background-color: #0e1515;
}

.dark-button {
    color: white;
}

.dark-social {
    background-color: #192929;
    color: white;
}

.footer {
    padding: 20px 0;
    background-color: #191919;
    text-align: center;
    color: rgb(221, 212, 212);
    text-transform: capitalize;
}

.footer {
    padding: 20px;
    /* background-color: #0e1b0f; */
    background-color: #191919;
    color: rgb(221, 212, 212);
    text-transform: capitalize;
    text-align: left;
}

.footer img {
    width: 100%;
    margin-left: -15px;
    width: 16rem;
}

.footer a {
    display: block;
    margin: 1rem auto;
    cursor: pointer;
    color: #ffffffb3;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-size: 15px;
}

.logo p {
    margin-top: 1rem;
}

.footer a:hover {
    transform: translate(2px, 0px);
    color: #3c996a;
}

.footer p,
footer a {
    text-align: left;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.footer-row p {
    margin-top: 10px;
}

.footer .logo {
    width: 20rem;
    display: inline-block;
    padding: 0;
    color: #fff;
}

.footer h4 {
    text-align: center;
}

.footer h3{
    color: #3c996a;
  }

.footer svg {
    width: 100%;
    max-width: 10rem;
    display: block;
    margin: 1rem auto;
    transition: 0.3s ease-in-out;
    margin-left: -8px;
}

.footer svg:hover {
    transform: translate(4px, -2px);
}

.copyright {
    border-top: 1px #3c996a solid;
    padding: 1rem 0;
}

/* ------End of dark theme------ */

@media only screen and (min-width: 950px) {
    .about-img {
        margin: auto;
        position: relative;
        top: -250px;
        padding: 10px;
    }

    .about-content p {
        text-align: justify;
    }

    .about-img img {
        width: 50%;
        float: right;
        object-fit: cover;
        height: 75%;
    }

    main p {
        width: 40%;
    }

    button {
        padding: 15px;
        margin-top: 2%;
        margin-left: 5%;
    }

    .about {
        margin: auto;
    }

    h4 {
        padding-top: 20px;
    }

    h2 {
        font-size: 35px;
        padding: 50px;
        padding-left: 0;
        padding-bottom: 0;
    }

    footer span {
        margin-top: 5px;
        clear: right;
    }

    footer p {
        font-size: 0.8rem;
        margin-bottom: 10px;
        text-align: center;
    }
}

@media only screen and (min-width: 650px) {

    nav,
    ul {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 650px) {
    .footer-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}