* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.theme-toggle{
    cursor: pointer;
    position: fixed;
    top: 2%;
    right: 2%;
    background-color: rgb(75, 200, 29);
    width: 25px;
    height: 25px;
    z-index: 100;
    box-shadow: 2px 3px 4px red;
}

svg{
    rotate: -30deg;
}

main{
    padding: 80px 10px;
    transition: all .3s ease-in-out;
}

header {
    width: 100%;
    height: 40vh;
    text-transform: capitalize;
    background-image: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.678)), url(about-header.jpg);
    font-weight: bolder;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

span{
    color: rgb(25, 98, 20);
}

nav,
ul {
    margin-left: 3%;
}

li {
    margin: 10px auto;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}
button a{
    color: black;
}
button a:hover{
    color: rgb(255, 255, 255);
}

.about-img {
    margin: auto;
    margin: 10vw;
}
.about-content p{
    text-align: left;
}

img {
    max-width: 100%;
}

.h1 {
    text-align: center;
    margin: 60px 0;
}


h2 {
    margin-bottom: 50px;
    width: 98%;
    margin-left: 2%;
}

h4 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
}

p {
    line-height: 1.5;
    word-spacing: 1.2;
    letter-spacing: 1.1;
    width: 98%;
    margin-left: 2%;
}

button {
    margin-top: 10%;
    border-radius: 3px;
    padding: 8px;
    font-size: larger;
    margin-left: 15%;
    background-color: transparent;
    border: solid 2px rgb(60, 153, 106);
    cursor: pointer;
    transition: .4s ease-in-out;
}

.cta{
    margin-top: 10px;
    margin-inline: auto;
    padding: 6px;
    font-size: large;
    margin-left: 0%;
}

button:hover {
    background-color: rgb(60, 153, 106);
    color: rgba(255, 255, 255, 0.878);

}

footer{
    text-align: center; 
    padding: 80px auto;
}

footer button{
    background-color: rgb(60, 153, 106);
    color: rgba(255, 255, 255, 0.878);    
}

footer button:hover {
   color: rgb(60, 153, 106);
   background-color: rgba(255, 255, 255, 0.878);
   transform: scale(1.1);

}

.conclusion{
    font-size: 16px;
        margin: 20px 0px;
        color: rgba(255, 255, 255, 0.838);
        padding: 20px;
    }
footer p{
    font-size: .8rem;
    text-align: center;
}
.call-to-action{
    background-color:rgb(14 43 43);
    padding: 40px 0;
    transition: all .3s ease-in-out;
}
.social{
    background-color: #eee;
    padding: 25px;
    transition: all .3s ease-in-out;
}
footer span{
    margin-top: 20px;
    display: block;
    text-align: center;
}
.logo{
    font-size: 5vmin;
    color: rgb(48, 179, 68);
    margin-left: 0;
    text-shadow: #191919 -1px -1px;
    display: block;
    width: fit-content;
}
img{
    height: 55%;
    object-fit: cover; 
}

.fab{
    color:  rgb(255, 255, 255);
    margin-inline: 1px;
    cursor: pointer;
}
/* ------dark theme------ */

.dark-main{
    background-color: #192929;
    color: white;
}

.dark-call-to-action{
    background-color: #0e1515;
}
.dark-button{
    color: white;
}
.dark-social{
    background-color: #192929;
    color: white;
}
/* ------End of dark theme------ */

@media only screen and (min-width: 950px) {
    
    .about-img{
        margin: auto;
        position: relative;
        top: -250px;
        padding: 10px;
    }

.about-content p{
    text-align: justify;
}
    img{
        width: 50%;
        float: right;
        object-fit: cover; 
        height: 75%;
    }

  main p{
        width: 40%;
    }
    button {
        padding: 15px;
        margin-top: 2%;
        margin-left: 5%;
      
    }
    .about{
        margin: auto;
    }
    h4{
        padding-top: 20px;
    }
    h2{
       font-size: 35px; 
      padding: 50px;
      padding-left: 0;
      padding-bottom: 0;

    }
    footer span{
        margin-top: 5px;
        clear: right;

    }
    footer p{
        font-size: .8rem;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media only screen and (min-width: 650px) {

nav,
ul {
    margin-left: 5%;
}

}



