* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
header {
  max-width: 1500px;
  margin: auto;
}

.theme {
  cursor: pointer;
  position: relative;
  right: 20%;
  background-color: transparent;
  width: 25px;
  height: 25px;
}

section,
.card,
.social,
.contact,
.fab,
h1 {
  transition: all 0.3s ease-in-out;
}

/* for medium screen and up */

@media only screen and (min-width: 650px) {
  .heading h1 {
    font-size: 7vmin;
  }

  .card {
    box-shadow: 3px 3px 3px 1px #9e9e9e;
    background-color: inherit;
  }

  .theme {
    cursor: pointer;
    position: fixed;
    right: 2%;
    background-color: transparent;
    width: 25px;
    height: 25px;
  }
}
/* End of  medium screen and up style */

.menu-btn {
  display: none;
}

.fab {
  color: #ffffff;
  margin-inline: 1px;
  cursor: pointer;
  margin-inline: 1px;
}

section {
  background-color: rgb(240, 233, 233);
  height: auto;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.heading {
  flex-basis: 100%;
  text-align: center;
}

h1 {
  margin: 10px auto;
  text-transform: capitalize;
}
nav h1 {
  font-size: 6.9vmin;
}

.imgCover img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

/* navigations header */
header {
  position: fixed;
  width: 100%;
  height: 65px;
  text-transform: capitalize;
  background-color: #3c996a;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 6%;
  margin-left: 2%;
}

li {
  transition: ease-out.2s;
}

li a {
  color: azure;
  text-decoration: none;
  font-size: large;
  padding-left: 20px;
  transition: ease-out 0.2s;
}
.cta a {
  color: azure;
  text-decoration: none;
}

.logo {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  padding-left: inherit;
}

.logo:hover {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

li a:hover {
  color: #cad9d9;
}

li:hover {
  transform: scale(1.1);
}

.card {
  border-radius: 15px 15px 5px 5px;
  letter-spacing: 1.1px;
  line-height: 1.5;
  width: 300px;
  background-color: rgb(240, 233, 233);
  margin: 40px 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container {
  padding: 30px;
}

.contact {
  padding: 40px;
  display: flex;
  gap: 5rem;
}

.cta button {
  font-weight: bold;
}

.cta p {
  font-weight: bolder;
  font-size: 18px;
}
.cta {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter-content {
  flex: 1;
}

button {
  font-size: large;
}

button {
  cursor: pointer;
  padding: 8px 40px;
  background-color: #3c996a;
  border: solid 2px#3c996a;
  border-radius: 50px;
  margin-top: 30px;
  transition: ease-out 0.3s;
  color: black;
}

button:hover {
  background: linear-gradient(323deg, #cddc39, #3c996a);
  border: solid 2px#3c996a;
  transform: scale(1.1);
}

button:hover a {
  color: rgb(0, 0, 0);
}

.first-btn {
  color: white;
}

.newsLetter-btn {
  cursor: pointer;
  border: solid 2px #c0e423;
  padding: 6px 12px;
  background-color: #c0e423;
  letter-spacing: 1.1px;
  font-weight: bold;
  transition: all ease 0.3s;
  margin-top: 0;
  border-radius: unset;
}

.newsLetter-btn:hover {
  background: linear-gradient(45deg, #cddc39, #3c996a);
  color: rgb(0, 0, 0);
  background-color: transparent;
  transform: scale(1.1);
  border: solid 2px #c0e423;
}

.contact p {
  margin: 10px auto;
  letter-spacing: 1.1px;
  word-spacing: 1.1;
}

/* newsletter */
.letter-content p {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  padding-inline: 20px;
  width: 90%;
  border: 1.5px solid green;
  border-radius: 5px;
  margin-bottom: 15px;
  outline-color: rgb(115, 187, 8);
}

footer {
  text-align: center;
  padding: 80px auto;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 1.1px;
  line-height: 1.5;
}

.social {
  background-color: #607d8b;
  padding: 25px;
}

footer span {
  margin-top: 20px;
  display: block;
}

/* ------dark theme------ */
.dark-fab {
  color: rgb(0, 252, 126);
}

.dark-card {
  color: white;
  background-color: #192929;
}

.dark-section {
  background-color: #192929;
}

.dark-contact {
  background-color: rgb(14 43 43);
  color: white;
}
.dark-social {
  background-color: #192929;
  color: white;
}

button:hover {
  color: rgb(60, 153, 106);
}
.dark-section-h1 {
  color: white;
}
.dark-newsLetter-btn:hover {
  color: #fff;
}

.footer {
  padding: 10px;
  /* background-color: #0e1b0f; */
  background-color: #191919;
  color: rgb(221, 212, 212);
  text-transform: capitalize;
  text-align: left;
}
.footer p {
  text-align: left;
}
.footer img {
  width: 100%;
  margin-left: -15px;
  width: 16rem;
}

.footer a {
  display: block;
  margin: 1rem auto;
  cursor: pointer;
  color: #ffffffb3;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-size: 15px;
}

.logo p {
  margin-top: 1rem;
}

.footer a:hover {
  transform: translate(2px, 0px);
  color: #3c996a;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.footer-row p {
  margin-top: 10px;
}

.footer .logo {
  width: 20rem;
  display: inline-block;
  padding: 0;
  color: #fff;
}

.footer h4 {
  text-align: center;
}

.footer svg {
  width: 100%;
  max-width: 10rem;
  display: block;
  margin: 1rem auto;
  transition: 0.3s ease-in-out;
  margin-left: -8px;
}

.footer svg:hover {
  transform: translate(4px, -2px);
}

.copyright {
  border-top: 1px #3c996a solid;
  padding: 1rem 0;
}

/* ------End of dark theme------ */

@media only screen and (max-width: 650px) {
  input {
    padding: 7px 0;
    padding-inline: 20px;
  }
  header {
    height: auto;
    height: 3.5rem;
    /* margin-top: 15px; */
  }

  a,
  li {
    margin: 0;
    padding-left: 6px;
    font-size: small;
  }

  ul {
    text-align: left;
    background-color: #192929;
    display: flex;
    position: fixed;
    top: 3.5rem;
    right: 0.3%;
    flex-direction: column;
    justify-items: start;
    align-items: flex-start;
    width: 33%;
    height: auto;
    padding-bottom: 10px;
    margin-right: -350px;

    transition: all ease-in-out 0.5s;
  }

  li {
    margin: 10px auto;
    margin-left: 0px;
  }

  .menu-btn {
    display: block;
    position: absolute;
    right: 5px;
  }

  .mobile-menu {
    margin-right: 0px;
  }

  section {
    height: auto;
  }

  .container {
    padding: 5px;
  }

  h1 {
    margin: 10px auto;
  }

  .card {
    width: 90%;
  }

  .contact {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
  }

  .footer-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}

/* div img {
    aspect-ratio: 9/6;
} */
