/* basic structure styling for the webpage */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html, header {
  scroll-behavior: smooth;
  max-width: 1500px;
  margin: auto;
}

body{
  background: #f5f5f5;
}

.menu-btn {
  display: none;
}

section {
  padding: 80px 0;
  height: auto;
}

section:not(.home, .contact, .about) h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

section h1 {
  text-transform: capitalize;
  text-align: center;
  position: relative;
}

section:not(.home, .contact, .about) h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background:  #3c996a;
  bottom: 0;
  left: calc(50% - 20px);
}

h1 {
  font-size: 7vmin;
}

p {
  line-height: 1.5;
  word-spacing: 1.2;
  letter-spacing: 1.1;
}

.home div {
  width: 100%;
  margin-top: 0;
  text-align: center;
}

.tree-head-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* end of the basic structure styling of the webpage */

/* navigations header */
header {
  position: fixed;
  width: 100%;
  height: 65px;
  text-transform: capitalize;
  background-color:#3c996a;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2%;
}

li a {
  color: azure;
  text-decoration: none;
  font-size: large;
  padding-left: 20px;
}

.logo {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  padding-left: inherit;
}

.logo:hover {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.active {
  color: rgb(192, 228, 35);
}

/* hero section */
.home {
  box-sizing: content-box;
  padding-top: 120px;
  padding-bottom: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)),
    url(images/student.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

/* a quickmedia query for some style so far */
@media only screen and (max-width: 700px) {
  .letter-content {
    margin: 10px auto;
    display: block;
  }

  .form-container {
    margin: 1rem auto;
  }

}

/* end of media query */

/* contents of the hero page */
article {
  font-size: 7vmin;
  font-family: "Times New Roman", Times, serif;
  color:#3c996a;
  padding: 80px 0 30px;
  text-transform: capitalize;
  /* margin-left: 1%; */
  visibility: hidden;
}

.detail {
  margin-bottom: 10px;
  color: rgb(137, 201, 201);
  color: white;
  font-size: 5vmin;
  text-transform: capitalize;
  margin-left: 1%;
}

.highlight {
  color: #c0e423;
}

.lorem {
  font-size: 17px;
  color: rgb(137, 201, 201);
  color: rgb(255 255 255 / 90%);
  /* width: 60%; */
  margin-left: 1%;
  line-height: 1.5;
  letter-spacing: 1.1px;
}



.homeCta button a {
  color: white;
  text-decoration: none;
}


.homeCta button:hover #second-btn{
  color: rgb(255, 255, 255);
}

.homeCta button {
  margin-top: 0%;
  border-radius: 8px;
  padding: 10px;
  font-size: small;
  margin-left: 3%;
  margin-top: 5%;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 1.1px;
  border: 1px solid #cddc39;
}

.homeCta button:hover {
  background-color: #3c996a4d;
  border: 1px solid #3c996a;
  scale: 1.1;
}

button:hover {
  /* background-color: #3c996a4d !important; */
  background: linear-gradient(323deg, #cddc39, #3c996a);
  color: #fff !important;
  transform: scale(1.06);
}

.homeCta button:last-child {
  background: linear-gradient(323deg, #cddc39, #3c996a);
  letter-spacing: 1.3px;
  padding: 14px;
}
.homeCta button:last-child:hover {
  transform: scale(1.03);
  background: transparent;
}




@media only screen and (min-width: 850px) {
  .homeCta button {
    padding: 12px;
  }
}

.home .pack {
  text-align: end;
}

.home h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-right: 5%;
  margin-top: 15%;
  color: darkolivegreen;
  color:#3c996a;
  color: rgb(192, 228, 35);
}

.home .icon {
  font-size: 25px;
  margin-right: 8%;
  margin-top: 1%;
  cursor: pointer;
}

.fab {
  margin-right: 12px;
  transition: 0.3s;
}

.fab:hover {
  scale: 1.2;
  box-shadow: #c0e423 5px 3px 6px;
}

/*Service Section*/

.services {
  color: rgb(0, 0, 0);
}


#services h1 {
  letter-spacing: 2px;
  color: rgb(20, 20, 17);
  margin-bottom: 30px;
}

.services .intro {
  text-align: center;
  padding: 20px 40px;
}

.services p {
  font-size: 16px;
  letter-spacing: 1.3px;
}

.container {
  display: flex;
  align-items: center;
}

.child {
  border-radius: 20px;
  height: 300px;
  text-align: center;
  margin: 30px;
  margin-top: 50px;
  overflow: hidden;
  box-shadow: 4px 4px 11px 3px #80808075
}

.child h3 {
  color: #191949;
  color:#3c996a;
  font-size: 5vmin;
  margin-bottom: 20px;
  margin-top: 5px;
}

.child p {
  padding: 18px;
}

/*testimonial Section*/
.swiper {
  width: 300px;
  height: 300px;
  background: #ededed;
  display: flex;
  margin-top: 20px;
}

/*About Section*/

.about {
  background-color: #191919;
  color: azure;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url(images/people.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about h1 {
  color:#3c996a;
  text-shadow: #191919 3px 2px;
}

.about h2 {
  text-transform: capitalize;
  margin: 50px 15px;
  font-size: 6vmin;
}

.about p {
  margin-left: 3%;
  width: 90%;
  letter-spacing: 1px;
}

.about span {
  color: azure;
  font-size: 22px;
}

.about-motherDiv {
  display: flex;
  margin-top: 40px;
}

.about-content {
  flex-basis: 45%;
  margin: auto;
}

.about-img {
  flex-basis: 45%;
  margin: auto;
}

.about-img img {
  width: 100%;
}

/* Contact Section */

.contact {
  overflow: hidden;
  /* background-color: #192929; */
  background-image: url(images/contact.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.contact div {
  width: 97%;
}

.contact-content {
  display: flex;
}

.contact h1 {
  color: #3c996a;
}

.instant-contact {
  margin-left: 10%;
  width: 100%;
  color: azure;
}

.instant-contact p {
  font-size: 22px;
}

.form {
  width: 100%;
}

aside {
  font-size: 12px;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.newsletter .row{
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* newsletter */
.newsletter {
  padding: 30px;
}

.letter-content {
  margin: 20px auto;
  display: flex;
  gap: 1.3rem;
}

.newsletter input {
  border: 1px solid green;
  margin: unset;
}

.newsletter p {
  word-spacing: 1.1px;
  letter-spacing: 1.1px;
  margin-bottom: 10px;
  text-align: justify;
}

form{
  position: relative;
}

.newsLetter-btn {
  margin: unset;
  border-radius: unset;
  padding: unset;
  padding-inline: 5px;
  cursor: pointer;
  background: linear-gradient(323deg, #cddc39, #3c996a);
  color: #ffffffe3;
  letter-spacing: 1.1px;
  font-weight: bolder;
  font-size: 14px;
  transition: all ease 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.newsLetter-btn:hover {
  background: #c0e423;
  color: black !important;
  transform: scale(1.03);
}


.form-container, .letter-content{
  flex: 1;
}

input,
textarea {
  width: 100%;
  font-weight: 300;
  border: solid 1px rgb(20, 32, 32);
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 10px;
  outline-color: #1e5726;
}

button {
  margin-top: 10%;
  border-radius: 10px;
  padding: 15px;
  font-size: larger;
  margin-left: 25%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 10%;
  color: white;
  background-color: transparent;
  border: 1px solid#3c996a;
}

.contact button {
  border: 2px solid #869e15;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #869e15;
  margin-top: 5px;
  padding: 5px;
  font-size: 18px;
}

footer {
  padding: 20px;  
  /* background-color: #0e1b0f; */
  background-color: #191919;
  color: rgb(221, 212, 212);
  text-transform: capitalize;
}

footer img{
  width:  100%;
  margin-left: -15px;
  width: 16rem;
 }


 footer a{
  display: block;
  margin: 1rem auto;
  cursor: pointer;
  color: #ffffffb3;
  text-decoration: none;
  transition: .3s ease-in-out;
  font-size: 15px;
 }

 .logo p{
  margin-top: 1rem;
 }

 footer a:hover{
  transform: translate(2px, 0px);
  color: #3c996a;
 }

.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}


footer .logo{
  width: 20rem;
  display: inline-block;
  padding: 0;
  text-transform: normal;
}

footer h4{
  text-align: center;

}

footer h3{
  color: #3c996a;
}

footer svg{
  width: 100%;
  max-width: 10rem;
  display: block;
  margin: 1rem auto;
  transition: .3s ease-in-out;
  margin-left: -8px;
}

footer svg:hover{
  transform: translate(4px, -2px);
}

.copyright{
  border-top: 1px #3c996a solid;
  padding: 1rem 0;
 }

/*hover animation*/

.contact button:hover {
  background-color: transparent;
  border: 2px solid #c0e423;
  color: white;
}


header a,
li {
  color: azure;
  transition: 0.5s ease-in-out;
}

header a:hover {
  color: black;
  text-decoration: underline;
}

li:hover {
  transform: scale(1.1);
}

/*small screen-mobile devices*/

@media only screen and (min-width: 950px) {
  nav li a {
    font-size: 17px;
  }
  .services{
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 950px) {
  .services {
    overflow-x: hidden;
  }

  .flex-about {
    flex-direction: column;
  }

  .about-img {
    display: none;
  }

  header li a:hover {
    color: rgb(192, 228, 35);
    text-decoration: none;
  }

  .int {
    display: block;
    margin-left: 20px;
  }

  .home {
    padding-top: 30px;
  }

  .detail {
    margin-bottom: 15px;
  }

  .detail,
  .lorem {
    color: rgb(255 255 255 / 80%);
  }

  article {
    padding: 120px 0 30px;
  }

  /*
    main{
        overflow-y: hidden;
    }
    */
  a,
  li {
    margin: 0;
    padding-left: 6px;
  }

  nav h1 {
    font-size: 6.9vmin;
  }

  .home h2 {
    font-size: 1.5rem;
  }

  .home .icon {
    font-size: 22px;
  }

  /*services.mobile*/
  .container {
    padding-inline: 10vw;
    margin-top: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .child {
    margin-top: 40px;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
  }

  .child p,
  .services p {
    font-size: 16px;
    letter-spacing: 1.3px;
  }

  .services h1 {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .child h3 {
    padding-top: 10px;
  }

  /*About.mobile*/

  .about h2 {
    margin-top: 35px;
  }

  .about-content {
    flex-basis: 45%;
    margin: auto;
  }

  .about button {
    padding: 12px;
    margin-bottom: 30px;
  }

  /*contact.mobile*/

  .contact-content {
    flex-direction: column;
  }

  .about-content {
    flex-basis: 100%;
  }

  .form {
    margin-top: 100px;
    margin-left: 2%;
    text-align: center;
  }

  .contact button {
    margin-bottom: 30px;
    font-size: 17px;
    margin-left: 2%;
    width: 71%;
  }

  .newsletter input {
    width: 98%;
  }

  /*page margin correction for mobile*/
  .home {
    height: auto;
  }

  .services {
    height: auto;
  }

  .about {
    height: auto;
  }

  .contact {
    height: auto;
  }
  
}

@media only screen and (max-width: 700px) {
  header {
    height: auto;
    height: 3.75rem;
  }

  .detail {
    font-size: 1.5rem;
  }

  .home .pack {
    margin-top: 150px;
  }

  .lorem {
    font-size: 15px;
    width: 95%;
    margin-bottom: 30px;
  }

  .about-content p {
    width: 75%;
  }

  .contact-content {
    margin-top: 50px;
  }

  ul {
    text-align: left;
    background-color: #192929;
    display: flex;
    position: fixed;
    top: 3.75rem;
    right: 0%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 45%;
    height: 100%;
    padding-bottom: 10px;
    margin-right: -400px;
    transition: all ease-in-out 0.5s;
  }

  li {
    margin: 10px auto;
    margin-left: 0px;
    padding: 20px 0;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .mobile-menu {
    margin-right: 0px;
  }

  
  .newsletter .row{
    display: block;
  }

  .newsletter p{
    margin-bottom: 1.5rem;
  }

  /* .contact div {
    margin: 40px auto;
} */




.instant-contact {
    margin-left: 7%;
    margin-top: 40px;
}

}



@media only screen and (max-width: 550px) {
  .child {
    /* box-shadow: 4px 2px 20px 0px#3c996a; */
      box-shadow: 2.5px 1.5px 15px 0px #3c996a;
  }

  .home {
    margin-top: 0;
    background-size: 1500px;
    background-position: center;
  }

  .footer-row{
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

  }

  footer .logo{
    width: 100%;
  }
  
  .newsLetter-btn {
    font-size: small;
}
  
}

@media only screen and (min-width: 700px) {

  .contact div {
    margin-top: 40px;
  }
  
  }
